body {
    font-family: 'Arial', sans-serif;
}

#booking {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.header-image {
    height: 300px;
    width: auto;
}

.display-4 {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .header-image {
        height: 150px;
    }
    .display-4 {
        font-size: 2rem;
    }
    .col-md-6 {
        text-align: center;
    }
}
